<div class="course">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../../assets/images/developpement-mobile.jpg" alt="developpement-mobile">
                            <div class="discription">
                                <div class="category">
                                    <h5>Category</h5>
                                </div>
                                <div class="title">
                                    <h6>developpement-web</h6>
                                </div>
                                <div class="niveau">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> <span> Niveau 1</span>
                                </div>
                                <div class="duree">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <span> ~ 3 mois</span>
                                </div>
                                <div class="price">
                                    <i class="fa fa-money" aria-hidden="true"></i> <span> 56 CA$</span>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h5>developpement mobile</h5>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                            <button class="btn btn-info">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../../assets/images/developpement-web.jpg" alt="developpement-web">
                            <div class="discription">
                                <div class="category">
                                   <h5>Category</h5> 
                                </div>
                                <div class="title">
                                    <h6>developpement-web</h6>
                                </div>
                                <div class="niveau">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> <span> Niveau 1</span>
                                </div>
                                <div class="duree">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <span> ~ 3 mois</span>
                                </div> 
                                <div class="price">
                                    <i class="fa fa-money" aria-hidden="true"></i> <span> 56 CA$</span>
                                </div>                         
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h5>developpement web</h5>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                            <button class="btn btn-info">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../../assets/images/language-prgrammation.jpg" alt="language-prgrammation" >
                            <div class="discription">
                                <div class="category">
                                    <h5>Category</h5>
                                </div>
                                <div class="title">
                                    <h6>developpement-web</h6>
                                </div>
                                <div class="niveau">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> <span> Niveau 1</span>
                                </div>
                                <div class="duree">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <span> ~ 3 mois</span>
                                </div>
                                <div class="price">
                                    <i class="fa fa-money" aria-hidden="true"></i> <span> 56 CA$</span>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h5> Language Prgrammation</h5>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                            <button class="btn btn-info">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../../assets/images/internet-des-objet.jpg" alt="internet-des-objet">
                            <div class="discription">
                                <div class="category">
                                    <h5>Category</h5>
                                </div>
                                <div class="title">
                                    <h6>developpement-web</h6>
                                </div>
                                <div class="niveau">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> <span> Niveau 1</span>
                                </div>
                                <div class="duree">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> <span> ~ 3 mois</span>
                                </div>
                                <div class="price">
                                    <i class="fa fa-money" aria-hidden="true"></i> <span> 56 CA$</span>
                                </div>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <h5>Internet Des Objet</h5>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                            <button class="btn btn-info">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
