<nav class="navbar navbar-light bg-light navbar-expand-lg" id="myNavbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="logo flex-row">
        <a href="#" class="logo">
            <img src="../../../assets/images/OnlineAcademyLogo.png" alt="" srcset="">
        </a>
    </div>
    <div class="flex-column">
        <div class="search-panier">
            <div class="search-engine">
                <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                        aria-label="Search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </form>
            </div>
            <div class="panier">
                <div class="navbar-nav ml-auto ">
                    <div class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link  mr-2">
                            <img src="../../../assets/icons/shopping-bag.png" alt="" srcset="">
                        </a>
                        <div class="dropdown-menu action-form">
                            <form action="/examples/actions/confirmation.php" method="post">
                                <h3>your cart is empty !!</h3>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ml-auto nav-fill">
                <li class="nav-item px-4">
                    <a href="#" class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item px-4 dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="trainingDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Training</a>
                    <div class="dropdown-menu dropdown-menu-center" aria-labelledby="trainingDropdown">
                        <div class="slogan">
                            <h4>Online Academey</h4>
                          <h4>Serving all successes</h4>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="d-md-flex align-items-start justify-content-start">
                            <div class="courseCategory">
                                <div class="dropdown-header">Development</div>
                                <a class="dropdown-item" href="#">Bespoke software</a>
                                <a class="dropdown-item" href="#">Mobile apps</a>
                                <a class="dropdown-item" href="#">Websites</a>
                                <a class="dropdown-item" href="#">Add core data</a>
                                <a class="dropdown-item" href="#">Custom error pages</a>
                                <a class="dropdown-item" href="#">Contact form creation</a>
                                <a class="dropdown-item" href="#">Automated backups</a>
                                <a class="dropdown-item" href="#">Image to HTML</a>
                            </div>
                            <div class="courseCategory">
                                <div class="dropdown-header">Professional Services</div>
                                <a class="dropdown-item" href="#">Project rescue</a>
                                <a class="dropdown-item" href="#">Source code recovery</a>
                                <a class="dropdown-item" href="#">Application support &amp; maintenance</a>
                                <a class="dropdown-item" href="#">Add core data</a>
                                <a class="dropdown-item" href="#">Custom error pages</a>
                                <a class="dropdown-item" href="#">Contact form creation</a>
                                <a class="dropdown-item" href="#">Automated backups</a>
                                <a class="dropdown-item" href="#">Image to HTML</a>
                            </div>
                            <div class="courseCategory">
                                <div class="dropdown-header">Marketing</div>
                                <a class="dropdown-item" href="#">Add cookie consent</a>
                                <a class="dropdown-item" href="#">Add captcha</a>
                                <a class="dropdown-item" href="#">Add core data</a>
                                <a class="dropdown-item" href="#">Custom error pages</a>
                                <a class="dropdown-item" href="#">Contact form creation</a>
                                <a class="dropdown-item" href="#">Automated backups</a>
                                <a class="dropdown-item" href="#">Image to HTML</a>
                            </div>
                            <div class="courseCategory">
                                <div class="dropdown-header">office productivity</div>
                                <a class="dropdown-item" href="#">Add cookie consent</a>
                                <a class="dropdown-item" href="#">Add captcha</a>
                                <a class="dropdown-item" href="#">Add core data</a>
                                <a class="dropdown-item" href="#">Custom error pages</a>
                                <a class="dropdown-item" href="#">Contact form creation</a>
                                <a class="dropdown-item" href="#">Automated backups</a>
                                <a class="dropdown-item" href="#">Image to HTML</a>
                            </div>
                            <div class="courseCategory">
                                <div class="dropdown-header">Design</div>
                                <a class="dropdown-item" href="#">Add cookie consent</a>
                                <a class="dropdown-item" href="#">Add captcha</a>
                                <a class="dropdown-item" href="#">Add core data</a>
                                <a class="dropdown-item" href="#">Custom error pages</a>
                                <a class="dropdown-item" href="#">Contact form creation</a>
                                <a class="dropdown-item" href="#">Automated backups</a>
                                <a class="dropdown-item" href="#">Image to HTML</a>
                            </div>
                            <div class="courseCategory">
                                <div class="dropdown-header">Photography and Video</div>
                                <a class="dropdown-item" href="#">Add cookie consent</a>
                                <a class="dropdown-item" href="#">Add captcha</a>
                                <a class="dropdown-item" href="#">Add core data</a>
                                <a class="dropdown-item" href="#">Custom error pages</a>
                                <a class="dropdown-item" href="#">Contact form creation</a>
                                <a class="dropdown-item" href="#">Automated backups</a>
                                <a class="dropdown-item" href="#">Image to HTML</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item px-4">
                    <a href="#" class="nav-link" *ngIf="isAdmin">Manage Courses</a>
                </li>
              
            </ul>
            <ul class="navbar-nav login-register ">
                <li class="nav-item ">
                    <a  class="nav-link currentUser" *ngIf="!authenticationService.loggedIn()" routerLink="/login">
                        Login / Register
                    </a>                                
                    <div class="nav-item dropdown" *ngIf="currentUser">
                        <ul class="navbar-nav ">
                            <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
                            <li>
                                <a *ngIf="authenticationService.loggedIn() && !isAdmin" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    {{currentUser.username}}
                                </a>
                                <div class="dropdown-menu profile" aria-labelledby="navDropDownLink">
                                    <a class="dropdown-item" routerLink="/profile"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><i class="fa fa-cog"
                                            aria-hidden="true"></i>Preferences</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"> <i class="fa fa-graduation-cap"
                                            aria-hidden="true"></i> My Courses</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"  (click)= "authenticationService.logout()"><i class="fa fa-sign-out"
                                            aria-hidden="true"></i>Logout</a>
                                </div>
                            </li>
                            <a class="nav-item nav-link" routerLink="/admin" *ngIf="authenticationService.loggedIn() && isAdmin">Admin</a>
                            <a class="nav-item nav-link" *ngIf="isAdmin" (click)="authenticationService.logout()">Logout</a>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>