@import "font-awesome/css/font-awesome.css";   
.navbar {
	background-color: #fff !important;
	box-shadow: 0 5px 5px 0 #ccc;
	height: 140px;
	text-transform: uppercase;
	display: flex;
	padding: 0 20px 0 20px;
	.logo {
		margin-left: 30px;
		img {
			width: 250px;
			height: 110px;
		}
	}
	.flex-column{
		flex-direction: column;	
		margin-left: 100px;
		.search-panier{	
			display: flex;
			margin-left: -60px;
			.search-engine{			
				width: 80%;
			}	
			.panier{
				margin-top: -10px;
				margin-left: 160px;
				img{
					width: 40px;
					height: 40px;
				}			
				.action-form {
					width: 280px;
					padding: 20px;
					left: auto;
					right: 0;
					font-size: 14px;
				}
			}
		}
		.navbar-collapse{
			margin-left: -30px;
			display: flex;
			.nav-fill{
				margin-right: 140px !important;
			}		
			.login-register a{
				cursor: pointer;
				border-radius: 50px;			
			}
			.profile i{
				margin-right: 5px;				
				&:hover{
					color: #ff9900;
				}
			}		
			.dropdown-menu-center{
				width: 1346px;
				margin-top: 22px;
				margin-left: -492px;
				background-color: #eee;
				border-top: 2px solid #0000cc;
				.slogan{
					text-align: center;
				}
				.courseCategory{
					width: 222px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				a{
					font-size: 14px;
				}
			}
			a {
				font-size: 17px;
				font-weight: bold;
				color: #0000cc;
				&:hover{
					background-color: #0000cc;
					color: #fff;
				}
			}
			
			.pr-4, .px-4 {
				padding-right: .1rem!important;
			}
		
			.action-form {
				width: 280px;
				padding: 20px;
				left: auto;
				right: 0;
				font-size: 14px;
			}
		}
	}
	.sign-up-btn{
		background-color: #ff9900;
	}
	.facebook-btn {
		background-color: #0077e2;
		color: #fff;
		&:hover {
			color: #0077e2 !important;
			background-color: #fff;
		}
	}
	.twitter-btn{
		  background-color: #00aced;
		  	color: #fff;
		&:hover {
			background-color: #fff;
			color: #00aced !important;
		}
	}
				
}
