@import "font-awesome/css/font-awesome.css";   
.navbar {
	height: 140px;
	background-color: #fff !important;
	box-shadow: 0 5px 5px 0 #ccc;
	text-transform: uppercase;
	display: flex;
	justify-content:space-evenly;
	.logo {
		img {
			width: 250px;
			height: 110px;
		}
	}
	.flex-column{
		flex-direction: column;
	}
	.search-navcenter{	
		.search-engine{				
			.search{
				width: 600px !important;	
			}
			.fa-search{
				color: #0000cc ;
				margin-left: 5px;
			}		
		}	
		.navbar-collapse{				
			.nav-fill{
				margin-left: -30px;
			}	
			.dropdown-menu-center{
				width: 1348px;
				margin-top: 22px;
				margin-left: -468px;
				background-color: #eee;
				border-top: 2px solid #0000cc;
				.slogan{
					text-align: center;
				}
				.courseCategory{
					width: 222px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				a{
					font-size: 14px !important;
				}
			}
			a{
				font-size: 17px;
				font-weight: bold;
				color: #0000cc;
				&:hover{
					background-color: #0000cc;
					color: #fff;
				}
			}			
			.pr-4, .px-4 {
				padding-right: .1rem!important;
			}
		}
	}
	.panier-login{
		margin-top: -18px;
		.panier{
			img{
				width: 50px;
				height: 50px;
			}
		}
		.login{
			a{
				font-size: 17px;
				font-weight: bold;
				color: #0000cc;
				&:hover{
					background-color: #0000cc;
					color: #fff;
				}
			}
		}
	}				
}
